body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
}

.container {
    padding: 15px;
}

.box {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

input {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.green { background: #065f46; padding:10px; }
.red { background: #7f1d1d; padding:10px; }
.yellow { background: #78350f; padding:10px; }
